<!DOCTYPE html>

<html>

  <head>
     <title>Homebase</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="darkred.css">
     <style>
        body{
            background-image: url("img/red3.gif");
            background-repeat: no-repeat;
            background-size: cover;
    
            /*
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            */
        }
     </style>
  </head>

  <body>

      <ul>
        <li><a href="/">UPLOADER</a></li>
        <li><a class="active" href="/savedURLs">SAVED URLS</a></li>
        <li><a href="/contacts">CONTACTS</a></li>
      </ul>

      <br>

      <div class="container">
          <h1 class="title">HOMEBASE: Saved URLs</h1>
      </div>
      <br>
      <div class="container">
           <h2>Click to Navigate to that website</h2>
      </div>

  </body>
</html>